*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
body{
    overflow-y: scroll;
    background-color: #f3f7fd;
}
.hello{
    position: relative;
    
    width: 100vw;
}